<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485407488344-5n17bu3dol3k0hagc1csa6b3uje0h2gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485407488344-5n17bu3dol3k0hagc1csa6b3uje0h2gk</string>
	<key>API_KEY</key>
	<string>AIzaSyBktWsYl-VP1JEExgsKwMDxG7SWMrwF3bA</string>
	<key>GCM_SENDER_ID</key>
	<string>485407488344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>nootflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>nootflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485407488344:ios:4033a22506874268868d2d</string>
</dict>
</plist>